---
//pages/[lang]/vitrail/[slug].astro

import fetchApi from '../../../lib/strapi';
import { fade } from 'astro:transitions';

import Layout from '../../../layouts/Layout.astro';
import AllProjectsLists from '../../../layouts/AllProjectsLists.astro';
import PreviewImgAnimation from '../../../components/PreviewImgAnimation.jsx';
import AccordionReadProject from '../../../components/AccordionReadProject.jsx';
import Slider from '../../../components/slider/Slider.jsx';

export async function getStaticPaths() {
    const languages = ['fr', 'en'];
    const paths = [];

    for (const lang of languages) {
        try {
            const vitraux = await fetchApi({
                endpoint: 'vitrails?populate=*',
                wrappedByKey: 'data',
                locale: lang,
            });

            if (!Array.isArray(vitraux)) {
                console.error(
                    'Les données reçues ne sont pas un tableau:',
                    vitraux
                );
                continue;
            }

            const langPaths = vitraux.map((vitrail) => ({
                params: {
                    lang,
                    slug: vitrail.slug,
                },
                props: { vitrail },
            }));

            paths.push(...langPaths);
        } catch (error) {
            console.error(`Error fetching vitraux for ${lang}:`, error);
        }
    }
    return paths;
}

const animIn = {
    old: {
        name: 'enterZoom',
        duration: '1s',
        easing: 'ease-in',
        fillMode: 'forwards',
    },
    new: {
        name: 'enterZoom',
        duration: '1s',
        easing: 'ease-in-out',
        fillMode: 'forwards',
    },
};
const customTransition = {
    forwards: animIn,
    backwards: animIn,
};

const vitraux = await fetchApi({
    endpoint: 'vitrails?populate=*',
    wrappedByKey: 'data',
});

const { vitrail } = Astro.props;
const { lang } = Astro.params;
export const prerender = true;
---

<Layout title='Vitrail' showReturn returnTo={`/vitrail`}>
    <main
        class='relative w-screen h-screen'
        transition:name='mainElement'
        transition:animate='none'
    >
        <AllProjectsLists lang={lang} enterIndex={false} />

        <div class='accordion-read-project-wrapper'>
            <AccordionReadProject
                lang={lang}
                year={vitrail?.year || 'Année non disponible'}
                client:only
                description={vitrail?.description ||
                    'Description non disponible'}
                technique={vitrail?.technique || 'Technique non disponible'}
                materials={vitrail?.materials || 'Matériaux non disponibles'}
                width={vitrail?.width || 'Largeur non disponible'}
                height={vitrail?.height || 'Hauteur non disponible'}
            />
        </div>
        <div class='fixed top-0 left-0 w-screen h-screen z-20'>
            <Slider
                client:only
                medias={vitrail?.medias || []}
                transition:animate={fade({ duration: '0.4s' })}
            />
        </div>
    </main>
    <PreviewImgAnimation medias={vitrail?.medias || []} client:only />
</Layout>
