/* -------------------------------------------------------------------- */
/* COMPONENTS */

/* Nav */
/* Lists */
/* -------------------------------------------------------------------- */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Nav */
/* Ajoutez ces styles dans la section ANIMATIONS */
.nav-wrapper:hover .nav-off{
    transition: height 0.3s ease;
    height: 25px;
}
.nav-wrapper:hover .nav-off a{
    transition: opacity 0.8s ease;
    opacity: 1;
}
li {
    @apply overflow-hidden;
}
.nav-li.nav-off {
    transition: height 0.8s ease;
}
.nav-li.nav-off a{
    transition: opacity 0.3s ease;
}
.nav-li.nav-home {
    transition: height 0.3s ease;
}
.nav-li.nav-home a{
    transition: opacity 0.8s ease;
}
.nav-off {height: 0;}
.nav-off a{opacity: 0;}
.nav-on {height: 25px;}
.nav-on a{opacity: 1;}
.nav-home {height: 25px;}
.nav-home a{opacity: 1;}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Lists */
.volume-list-compact > li:nth-child(odd) {
    @apply pt-[25px];
}
