---
//pages/en/vitrail.astro
import { getRelativeLocaleUrl } from 'astro:i18n';
import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";


const vitraux = await fetchApi({
	endpoint: "vitrails?populate=*",
	wrappedByKey: "data",
});

const vitrailURL = getRelativeLocaleUrl("en", "vitrail");

export const prerender = true;
---

<Layout title="Vitrail">
	<main>
		<h2 class="font-bradford text-base">vitrail</h2>
		{
			vitraux.map((vitrail) => (
				<li>
					<a href={`${vitrailURL}${vitrail.slug}`}>{vitrail.title}</a>
				</li>
			))
		}
	</main>
</Layout>
