---
//pages/about.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import Actu from "../layouts/Actu.jsx";

const actus = await fetchApi({
  endpoint: "actus?populate=*",
  wrappedByKey: "data",
  locale: "fr"
});

export const prerender = true;
---

<Layout title="About" showReturn returnTo="">
  <main>
    <Actu actus={actus} />
  </main>
</Layout>

x
