---
//pages/index.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";



const weavings = await fetchApi({
	endpoint: "weavings?populate=*", // the content type to fetch
	wrappedByKey: "data", // the key to unwrap the response
	locale: "fr"
});

export const prerender = true;
---

<Layout title="Home">
	<main>		
		<Nav />
	</main>
</Layout>
