---
//pages/index.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import PaintingsList from "../layouts/projects-lists/Paintings-list.jsx";
import VitrailList from "../layouts/projects-lists/Vitrail-list.jsx";

const paintings = await fetchApi({
  endpoint: "paintings?populate=*",
  wrappedByKey: "data",
});
const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
});

export const prerender = true;
---

<Layout title="Home">
  <main>
    <Nav />

    <VitrailList
      targetHref="/vitrail"
      dataVitrails={vitraux}
      isOnVitrailPage={false}
      client:load
      transition:name="vitrailist"
      transition:persist
    />
    <PaintingsList
      targetHref="/painting"
      dataPaintings={paintings}
      isOnPaintingPage={false}
      client:load
      transition:name="paintingslist"
      transition:persist
    />
  </main>

  <script is:inline>
    document.addEventListener("astro:before-preparation", (env) => {
      console.log("Page cible:", env.to.pathname);
    });
  </script>
</Layout>
