---
//pages/painting.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import PaintingsList from "../layouts/Paintings-list.jsx";

const paintings = await fetchApi({
    endpoint: "paintings?populate=*", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
});


export const prerender = true;
---

<Layout title="Painting">
	<main>
		<PaintingsList dataPaintings={paintings} client:only/>
	</main>
</Layout>
