---
//pages/painting.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";


const paintings = await fetchApi({
	endpoint: "paintings?populate=*", // the content type to fetch
	wrappedByKey: "data", // the key to unwrap the response
});

export const prerender = true;
---

<Layout title="Painting" showReturn returnTo="">
	<main>
		<h2 class="font-bradford text-base">painting</h2>
		{
			paintings.map((painting) => (
				<li>
					<a href={`/painting/${painting.slug}`}>{painting.title}</a>
				</li>
			))
		}
	</main>
</Layout>
