---
//pages/poetry.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";


const poetries = await fetchApi({
	endpoint: "poetries?populate=*",
	wrappedByKey: "data",
	locale: "fr"
});

export const prerender = true;
---

<Layout title="Poetry" showReturn returnTo="">
	<main>
		<h2 class="font-bradford text-base">poetry</h2>
		<ul>
		{
			poetries.map((poetry) => (
				<li>
					<a href={`/poetry/${poetry.slug}`}>{poetry.title}</a>
				</li>
			))
		}
		</ul>
	</main>
</Layout>
