---
//pages/vitrail.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import VitrailList from "../layouts/Vitrail-list.jsx";

const vitraux = await fetchApi({
	endpoint: "vitrails?populate=*",
	wrappedByKey: "data",
});

export const prerender = true;
---

<Layout title="Vitrail">
	<main>
		<VitrailList dataVitrails={vitraux} client:only/>
	</main>
</Layout>
