---
//pages/[lang]/about.astro

import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import Actu from "../../layouts/Actu.jsx";
import Nav from "../../layouts/Nav.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

const actus = await fetchApi({
  endpoint: "actus?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

export const prerender = true;
---

<Layout title="About" showReturn returnTo="">
  <main>
    <Nav
      lang={lang}
      currentPath={Astro.url.pathname}
      transition:name="nav"
      transition:persist
      client:load
    />
    <Actu actus={actus} />
  </main>
</Layout>
