---
//pages/[lang]/index.astro

import Layout from "../../layouts/Layout.astro";
import AllProjectsLists from "../../layouts/AllProjectsLists.astro";

export async function getStaticPaths() {
    return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
const { lang } = Astro.params;

export const prerender = true;
---

<!-- // Trouver un moyen de twixer la valeur de enterIndex -->

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <AllProjectsLists lang={lang} enterIndex={true}/>
  </main>
</Layout>
