---
//pages/[lang]/vitrail.astro

import Layout from '../../layouts/Layout.astro';
import AllProjectsLists from '../../layouts/AllProjectsLists.astro';
import PreviewImg from '../../components/features/preview-image/PreviewImg.jsx';

export async function getStaticPaths() {
    return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
const { lang } = Astro.params;


export const prerender = true;
---

<Layout title={lang === 'fr' ? 'Accueil' : 'Home'}>
    <main>
        <AllProjectsLists lang={lang} enterIndex={false} />
    </main>
    <div class='preview-image--wrapper fixed top-1/2 left-1/2 !-z-10 opacity-0 w-[350px] h-[300px] -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out'>
        <PreviewImg />
    </div>
</Layout>
<!-- <script>
    // Black and White Page
    import { setupBlackTextPage } from '../../lib/pageColorUtils.js';
    // Utiliser la fonction utilitaire
    setupBlackTextPage();
</script> -->
