---
//pages/[lang]/vitrail.astro

import Layout from '../../layouts/Layout.astro';
import AllProjectsLists from '../../layouts/AllProjectsLists.astro';
import PreviewImg from '../../components/features/preview-image/PreviewImg.jsx';

export async function getStaticPaths() {
    return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
const { lang } = Astro.params;

export const prerender = true;
---

<Layout title={lang === 'fr' ? 'Accueil' : 'Home'}>
    <main>
        <AllProjectsLists lang={lang} enterIndex={false} />
    </main>

    <PreviewImg transition:name='preview-image' transition:persist client:only/>
</Layout>
<script is:inline>
    // Keep the preview image visible when the page is loaded
    document.addEventListener('astro:before-preparation', (event) => {
        const wrapperElement = document.querySelector(
            '.preview-image--wrapper'
        );
        if (wrapperElement) {
            wrapperElement.style.opacity = '1';
            wrapperElement.classList.add('preview-image--wrapper-visible');
        }
    });
</script>
