---
//pages/[lang]/vitrail.astro

import fetchApi from "../../lib/strapi";

import Layout from "../../layouts/Layout.astro";
import AllProjectsLists from "../../layouts/AllProjectsLists.astro";

import PreviewImg from "../../components/PreviewImg.jsx";

export async function getStaticPaths() {
    return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
const { lang } = Astro.params;

const animIn = {
  old: {
    name: "enterZoom",
    duration: "3s",
    easing: "ease-in",
  },
  new: {
    name: "enterZoom",
    duration: "3s",
    easing: "ease-in-out",
    direction: "reverse",
  },
};

const customTransitionReturn = {
  forwards: animIn,
  backwards: animIn,
};

export const prerender = true;
---

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <AllProjectsLists lang={lang} enterIndex={false}/>
  </main>
  <!-- <div
    transition:animate={customTransitionReturn}
    transition:name="previewimgtransition"
    transition:persist
    class="dynamic-image--wrapper"
  >
    <PreviewImg />
  </div> -->
</Layout>
<script>
  import { setupBlackTextPage } from "../../lib/pageColorUtils.js";
  // Utiliser la fonction utilitaire
  setupBlackTextPage();
</script>
