---
//pages/[lang]/weaving.astro

import Layout from "../../layouts/Layout.astro";
import AllProjectsLists from "../../layouts/AllProjectsLists.astro";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}
const { lang } = Astro.params;


export const prerender = true;
---

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <AllProjectsLists lang={lang} enterIndex={false}/>
  </main>
</Layout>
<script>
  import { setupBlackTextPage } from "../../lib/pageColorUtils.js";
  // Utiliser la fonction utilitaire
  setupBlackTextPage();
</script>