---
//pages/en/actu/[slug].astro
import fetchApi from "../../../lib/strapi";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  console.log("Début getStaticPaths");
  try {
    const actus = await fetchApi({
      endpoint: "actus?populate=*",
      wrappedByKey: "data",
      locale: "en"
    });

    console.log("Données récupérées:", JSON.stringify(actus, null, 2));
    if (!Array.isArray(actus)) {
      console.error("Les données reçues ne sont pas un tableau:", actus);
      return [];
    }

    return actus.map((actu) => {
      console.log("Mapping actu:", JSON.stringify(actu, null, 2));
      return {
        params: { slug: actu.slug },
        props: { ...actu },
      };
    });
  } catch (error) {
    console.error("Error fetching actus:", error);
    return [];
  }
}

const { ...actu } = Astro.props;
console.log("Props reçues:", JSON.stringify(actu, null, 2));


export const prerender = true;
---

<Layout title="Actu" showReturn returnTo="">
  <!-- <pre>{JSON.stringify(actu, null, 2)}</pre> -->
  <h1>{actu?.title || "Titre non disponible"}</h1>
  <p>{actu?.structure || "Structure non disponible"}</p>
</Layout>
