---
import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import ZoomableImg from '../../components/Zoomable-img.jsx';

export async function getStaticPaths() {
    const weavings = await fetchApi({
        endpoint: "weavings?populate=*",
        wrappedByKey: "data",
    });

    console.log("Static paths:", weavings);

    return weavings.map((weaving) => {
        return {
            params: { slug: weaving.slug },
            props: { ...weaving },
        };
    });
}

const { ...weaving } = Astro.props;
console.log("Page props:", weaving); 

export const prerender = true;
---

<Layout title="Weaving">
    <h1 class="font-bradford text-base">
        {weaving?.title || "Titre non disponible"}
    </h1>
    {weaving.medias.map((media) => 
        <ZoomableImg url={media.url} client:only />
    )}
</Layout>
