---
// src/components/common/ButtonReturn.astro
import { getRelativeLocaleUrl } from 'astro:i18n';

const { to = '' } = Astro.props;
const locale = Astro.currentLocale || 'fr';
const url = getRelativeLocaleUrl(locale, to);
---

<a
    id='btn-return'
    href={url}
    class='fixed top-5 right-5 p-5 rotate-[-51.35deg] rounded-[4px] z-[999] hover:opacity-50 transition mix-blend-target'
>
    {locale === 'fr' ? 'retour' : 'back'}
</a>
<script>
    const btn = document.getElementById('btn-return');
    if (btn) {
        btn.addEventListener('click', function (e) {
            e.preventDefault();

            const url = (this as HTMLAnchorElement).href;

            // 🔁 Déclenche la fermeture de l'accordéon
            window.dispatchEvent(new CustomEvent('closeAccordionDescription'));

            // ⏱️ Attend la fin de l’animation avant de naviguer
            setTimeout(() => {
                window.location.href = url;
            }, 550); // adapte à la durée exacte de ta transition
        });
    }
</script>
