---
import { getRelativeLocaleUrl } from 'astro:i18n';

const { to = '', className = '' } = Astro.props;
const locale = Astro.currentLocale || 'fr';
const url = getRelativeLocaleUrl(locale, to);
---

<a
    href={url}
    class={`button-return fixed p-5 rounded-[4px] z-[999] mix-blend-target ${className}`}
>
    {locale === 'fr' ? 'retour' : 'back'}
</a>




<!-- rotate-[-51.35deg] -->