/* -------------------------------------------------------------------- */
/* GLOBAL */
/* Sommaire :
/* -------------------------------------------------------------------- */
/* TYPOGRAPHY 
/* TAILWIND 
/* RESET 
/* STYLES 
/* ANIMATIONS 
/* -------------------------------------------------------------------- */
@import 'tailwindcss';

/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
    font-family: 'BradfordLL-Bold';
    src: url('../../../fonts/BradfordLL-Bold.woff2') format('woff2'),
        url('../../../fonts/BradfordLL-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */
@theme {
    /* Typography */
    --font-bradford: 'BradfordLL-Bold', 'serif';
    --text-base: 25px;
    --leading-base: 25px;
    --spacing-main-x: 15px;
    --spacing-main-x-mobile: 15px;
    /* ! change value in Paintings-list.jsx */
    --spacing-list-p-top: 6px;
    --spacing-header-height: 100px;
}

/* -------------------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------------------- */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

body {
    @apply overflow-hidden w-screen md:h-screen bg-white border-3 border-emerald-300;
}

body[data-page='about'] {
    @apply overflow-visible;
}

@media (max-width: 768px) {
    body.on-slug-page {
        overflow: visible;
    }
}

li {
    @apply list-none leading-none;
}

/* -------------------------------------------------------------------- */
/* COMPONENTS */

/* Layout */
/* Nav */
/* Slider */
/* Lists */
/* Titles */
/* -------------------------------------------------------------------- */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Layout */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Nav */
/* Ajoutez ces styles dans la section ANIMATIONS */
@media (min-width: 768px) {
    .nav-wrapper:hover .nav-off {
        height: 25px;
    }

    .nav-wrapper:hover .nav-off a {
        opacity: 1;
    }
}

.nav-wrapper:hover .nav-off {
    transition: height 0.3s ease;
    height: 25px;
}

.nav-wrapper:hover .nav-off a {
    transition: opacity 0.8s ease;
    opacity: 1;
}

li {
    @apply overflow-hidden;
}

.nav-li.nav-off {
    transition: height 0.8s ease;
}

.nav-li.nav-off a {
    transition: opacity 0.3s ease;
}

.nav-li.nav-home {
    transition: height 0.3s ease;
}

.nav-li.nav-home a {
    transition: opacity 0.8s ease;
}

.nav-off {
    height: 0;
}

.nav-off a {
    opacity: 0;
}

.nav-on {
    height: 25px;
}

.nav-on a {
    opacity: 1;
}

.nav-home {
    height: 25px;
}

.nav-home a {
    opacity: 1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Slider */

.swiper-button-prev::after,
.swiper-button-next::after {
    @apply hidden;
}

.swiper-button-prev {
    @apply max-md:hidden !h-full !w-full md:!w-[50%] !left-0 !top-[20px];
}

.swiper-button-next {
    @apply max-md:hidden !h-full !w-full md:!w-[50%] !right-0 !top-[20px];
}

.swiper-pagination {
    @apply !top-[10px] h-fit opacity-100 transition-all duration-100 ease-in-out max-md:!right-[10px] max-md:!left-auto max-md:!w-fit;
}
.swiper-pagination.pagination-hidden {
    @apply opacity-0 pointer-events-none;
}

.modaleToogle span {
    @apply opacity-0 pointer-events-none transition-all duration-300 ease-in-out;
}
.modaleToogle-active {
    @apply mix-blend-difference w-fit h-fit top-[10px] right-[10px] md:right-auto md:left-1/2 md:-translate-x-1/2 z-50;
}
.modaleToogle-active span {
    @apply opacity-100 pointer-events-auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Lists */

.volume-list-compact > li:nth-child(odd) {
    @apply pt-[25px];
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Titles */
.painting-title a span,
.volume-title a span {
    @apply min-w-[5px] transition-all duration-300 ease-in-out;
}

.volume-title.active a span {
    @apply min-w-[30px];
}

.painting-title.active a span {
    @apply min-w-[13px] flex items-center justify-center;
}

.painting-title {
    transition: all 0.1s;
}

.painting-title a {
    display: flex;
    align-items: flex-end;
    transition: height 0.1s 0.3s ease-in-out;
}

/* .active .volume-word-wrapper>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

} */
.active .volume-word-wrapper span {
    display: inline-block;
    text-align: center;
}

body.on-slug-page .work-list li > div {
    pointer-events: none;
}
body.on-slug-page .work-list li > div:not(.active) {
    opacity: 0;
}
