/* -------------------------------------------------------------------- */
/* GLOBAL */
/* Sommaire :
/* -------------------------------------------------------------------- */
/* TYPOGRAPHY 
/* TAILWIND 
/* RESET 
/* STYLES 
/* ANIMATIONS 
/* -------------------------------------------------------------------- */
@import "tailwindcss";


/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
    font-family: "BradfordLL-Bold";
    src: url("../../../fonts/BradfordLL-Bold.woff2") format("woff2"),
        url("../../../fonts/BradfordLL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}



/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */
@theme {

    /* Typography */
    --font-bradford: "BradfordLL-Bold", "serif";
    --text-base: 25px;
    --leading-base: 25px;
    --spacing-main-x: 15px;
    --spacing-main-x-mobile: 15px;
    --spacing-preview-w: 350px;
    --spacing-preview-h: 300px;
    /* ! change value in Paintings-list.jsx */
    --spacing-list-p-top: 6px;
}

/* -------------------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------------------- */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply overflow-hidden;
}

li {
    @apply list-none leading-none;
}





/* -------------------------------------------------------------------- */
/* COMPONENTS */

/* Layout */
/* Nav */
/* Lists */
/* -------------------------------------------------------------------- */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Layout */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Nav */
/* Ajoutez ces styles dans la section ANIMATIONS */
@media (min-width: 768px) {
    .nav-wrapper:hover .nav-off {
        height: 25px;
    }

    .nav-wrapper:hover .nav-off a {
        opacity: 1;
    }
}

.nav-wrapper:hover .nav-off {
    transition: height 0.3s ease;
    height: 25px;
}

.nav-wrapper:hover .nav-off a {
    transition: opacity 0.8s ease;
    opacity: 1;
}

li {
    @apply overflow-hidden;
}

.nav-li.nav-off {
    transition: height 0.8s ease;
}

.nav-li.nav-off a {
    transition: opacity 0.3s ease;
}

.nav-li.nav-home {
    transition: height 0.3s ease;
}

.nav-li.nav-home a {
    transition: opacity 0.8s ease;
}

.nav-off {
    height: 0;
}

.nav-off a {
    opacity: 0;
}

.nav-on {
    height: 25px;
}

.nav-on a {
    opacity: 1;
}

.nav-home {
    height: 25px;
}

.nav-home a {
    opacity: 1;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Lists */

.volume-list-compact>li:nth-child(odd) {
    @apply pt-[25px];
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Titles */
.painting-title a span,
.volume-title a span {
    @apply min-w-[5px] transition-all duration-300 ease-in-out;
}

.volume-title.active a span {
    @apply min-w-[30px];
}


.painting-title.active a span {
    @apply min-w-[13px] flex items-center justify-center;
}

.painting-title {
    transition: all 0.1s;
}

.painting-title a {
    display: flex;
    align-items: flex-end;
    transition: height 0.1s 0.3s ease-in-out;
}

/* .active .volume-word-wrapper>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

} */
.active .volume-word-wrapper span{
    display: inline-block;
    text-align: center;
}

.vitrail-title.active span{
    @apply !text-white;
}