@import "tailwindcss";



/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
    font-family: "BradfordLL-Bold";
    src: url("../../../fonts/BradfordLL-Bold.woff2") format("woff2"),
        url("../../../fonts/BradfordLL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}



/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */
@theme {

    /* Typography */
    --font-bradford: "BradfordLL-Bold", "serif";
    --text-base: 25px;
    --spacing-main: 30px;

}

/* -------------------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------------------- */

li {
    @apply list-none leading-none;
}



/* -------------------------------------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------------------------------------- */
body {
    @apply overflow-hidden;
}

a.compact-list {
    @apply block transition-all duration-3000;
}

body.hide-lists #vitrail-compact-list a:not(.clicked) {
    @apply right-[-100%];
}

body.hide-lists #painting-compact-list a:not(.clicked) {
    @apply bottom-[-100%];
}


#painting-list-appear {
    overflow: hidden;
    animation: height-appear 1s ease-in-out forwards;
}

@keyframes height-appear {
    0% {
        height: 0px;
    }

    100% {
        height: 100%;
    }
}