.triangle-left,
.triangle-right {
    width: 500px;
    height: 300px;
}

.triangle-left {
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    border: 1px solid black;
    background: red;
}

.triangle-right {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    border: 1px solid black;
    background: blue;
}
