.triangle-left,
.triangle-right {
    width: 30%;
    height: 100px;
}

.triangle-left {
    -webkit-shape-outside: polygon(100% 0, 0 0, 0 100%);
    shape-outside: polygon(100% 0, 0 0, 0 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    float: left;
}

.triangle-right {
    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    float: right;
}
