---
import "../assets/styles/global.css";
import { ClientRouter } from "astro:transitions";
import ButtonReturn from "../components/ButtonReturn.astro";
const { title, showReturn = false, returnTo = "" } = Astro.props;
const currentLocale = Astro.currentLocale || "fr";
---

<!DOCTYPE html>
<html lang={currentLocale}>
	<head transition:name="root" transition:animate="none">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="font-bradford text-base px-main-x-mobile md:p-main">	
		{showReturn && <ButtonReturn to={returnTo} />}
		<slot />
	</body>
</html>
