---
import { ClientRouter } from 'astro:transitions';

import "../assets/styles/global.css";
import ButtonReturn from "../components/ButtonReturn.astro";
const { title, showReturn = false, returnTo = '' } = Astro.props;
const currentLocale = Astro.currentLocale || 'fr';
---

<!DOCTYPE html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="font-bradford text-base">
		
		{showReturn && <ButtonReturn to={returnTo} />}
		<slot />
	</body>
</html>
