---
//layouts/Nav.astro
---

<nav>
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/poetry">poetry</a></li>
      <li><a href="/painting">painting</a></li>
      <li><a href="/vitrail">vitrail</a></li>
      <li><a href="/volume">volume</a></li>
      <li><a href="/weaving">weaving</a></li>
    </ul>
</nav>