---
//pages/en/poetry/[slug].astro
import fetchApi from "../../../lib/strapi";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  try {
    const poetries = await fetchApi({
      endpoint: "poetries?populate=*",
      wrappedByKey: "data",
      locale: "en"
    });

    if (!Array.isArray(poetries)) {
      console.error("Les données reçues ne sont pas un tableau:", poetries);
      return [];
    }
    return poetries.map((poetry) => {
      return {
        params: { slug: poetry.slug },
        props: { poetry },
      };
    });
  } catch (error) {
    console.error("Error fetching poetries:", error);
    return [];
  }
}

const { poetry } = Astro.props;
export const prerender = true;
---

<Layout title="Poetry" showReturn returnTo="">
  <h1>{poetry?.title || "Titre non disponible"}</h1>
  <p>{poetry?.description || "Description non disponible"}</p>
</Layout>
